/* PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* Tablet & smartphone */
@media (max-width: 991.98px) {
  /* 1. Ẩn navbar trên tablet & mobile */
  .navbar {
    display: none;
  }
  /* 2. Đưa logo vào giữa */
  .header-top {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .header__logo {
    left: 50%;
    position: absolute;
    translate: -50% -50%;
  }
  /* 3. Căn lại vị trí của menu icon */
  .menu-header__icon {
    position: absolute;
    top: 36px;
    left: 20px;
    width: 30px;
    height: 30px;
    color: #fff;
  }

  /* 4. overlay */
  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    /* Binh thuong thi an overlay di */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  /* 5. Kiem tra xem menu-checkboc co duoc checked hay khong */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  /* 6. Code cho menu drawer */
  .menu-drawer {
    position: fixed;
    background: #2e1919;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    padding: 60px;
  }
  /* 7. kiem tra neu meunu-checkbox co check thi hien menu */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  /* 8. menu top */
  .close__menu {
    width: 24px;
    color: #fff;
    cursor: pointer;
  }
  .menu-drawer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #navbar__list--mobile {
    margin-top: 25px;
  }
  .navbar__link {
    display: block;
    font-size: 2rem;
  }
  .navbar__link:hover {
    background: #00ffff37;
  }

  /* Khoi Hero */
  .hero {
    flex-direction: column;
    row-gap: 50px;
  }
  .hero__content {
    margin: 22px auto;
    order: 2;
    width: 80%;
    text-align: center;
  }
  .hero__media {
    order: 1;
  }
  .hero__content {
    margin: 22px auto;
    width: 80%;
    text-align: center;
  }
  .hero__row {
    justify-content: center;
  }

  /* Khoi service */

  .service__row {
    flex-direction: column;
    row-gap: 20px;
  }
  .service__img {
    width: 100%;
  }
  .service-item {
    width: 90%;
  }
  .service__list {
    text-align: center;
  }
  .service-item {
    text-align: start;
  }

  /* Khoi work */
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  /* about */
  .about-row {
    flex-direction: column;
    row-gap: 30px;
  }
  /* an anh nho */
  .about__img--small {
    display: none;
  }
  .about__media {
    width: 100%;
  }
  .about__img--large {
    width: 100%;
    border-radius: 15px;
    margin: 25px auto;
  }
  .about-content {
    width: 90%;
    text-align: center;
  }

  /* Team list*/
  .team__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .team-item__thumb {
    margin: 0 auto;
  }
  /* install */
  .install__img {
    display: none;
  }
  .install__content {
    width: 90%;
    margin: 0 auto;
  }

  /* Blog */
  .blog__inner {
    flex-direction: column;
    row-gap: 30px;
  }
  .blog__list {
    order: 1;
  }
  .blog__content {
    order: 2;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog__heading {
    max-width: 90%;
  }
  /* appointment */
  .appointment__inner {
    padding: 100px 66px;
  }
}

/* Tablet */
@media (max-width: 991.98px), (min-width: 768px) {
  /* footer */
  .footer-hidden-tablet {
    display: none;
  }
  .footer__top {
    grid-template-columns: 0.5fr 0.5fr 1fr;
  }
}

/* SmartPhone */
@media (max-width: 767.98px) {
}
